[Unit]
Description=login

[Service]
Type=simple
Restart=always
RestartSec=5s
Environment=USERS_API_ADDRESS=172.31.19.123:8080
Environment=ZIPKIN_URL=http://172.31.26.67:9411/
ExecStart= /go/src/login/login

[Install]
WantedBy=multi-user.target
